* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: $background-color;
  font-family: $main-font-family;
}


#overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}


.btn.active,
.btn:active,
.btn:focus,
 a.active,
 a:active,
 a:focus,
 button.active,
 button:active,
 button:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
}
