#section-team {
    min-height: 600px;
    width: 100%;
    background-image: url("../images/c.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h1 {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        color: rgb(53, 55, 58);
    }
}
