#section-snowboarding {
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/snowboarding.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    .text-intro {
        font-weight: bold;
    }
}
@media (min-width: 768px) {
    .text-intro {
        font-size: 65px;
    }
}
