* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white;
  font-family: "Lato", sans-serif; }

/*#overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}*/
.btn.active,
.btn:active,
.btn:focus,
a.active,
a:active,
a:focus,
button.active,
button:active,
button:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important; }

.navbar {
  background: black;
  opacity: 0.8; }
  .navbar .navbar-toggler {
    outline: none;
    border: none; }
  .navbar .logo-text {
    font-family: "Lobster", cursive; }

#section-intro {
  min-height: 100vh;
  width: 100%;
  background-image: url("../images/intro-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  #section-intro .text-intro {
    font-weight: bold; }

@media (min-width: 768px) {
  .text-intro {
    font-size: 65px; } }

.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#section-video {
  position: relative;
  min-height: 124px;
  background: url("../images/fixed-background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #fff; }
  #section-video a {
    color: #fff; }

#section-team {
  min-height: 600px;
  width: 100%;
  background-image: url("../images/c.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  #section-team h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #35373a; }

#section-snowboarding {
  min-height: 100vh;
  width: 100%;
  background-image: url("../images/snowboarding.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; }
  #section-snowboarding .text-intro {
    font-weight: bold; }

@media (min-width: 768px) {
  .text-intro {
    font-size: 65px; } }

.main-gallery {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  padding: 20px; }

.container.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh; }

.gallery-container h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold; }

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 15px auto;
  color: #888;
  font-size: 18px; }

.main-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }

.main-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); }

.main-gallery img {
  border-radius: 4px; }

.baguetteBox-button {
  background-color: transparent !important; }

@media (max-width: 768px) {
  body {
    padding: 0; }
  .container.gallery-container {
    border-radius: 0; } }

#section-slider {
  position: relative;
  min-height: 124px;
  background: url("../images/fixed-background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #fff; }
  #section-slider a {
    color: #fff; }

.carousel-item {
  height: 124px; }

.carousel-control-next,
.carousel-control-prev {
  width: 5% !important; }

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 15px !important;
  height: 15px !important; }

.slider-text {
  font-size: 1rem; }
  @media (min-width: 480px) {
    .slider-text {
      font-size: 1.25rem; } }

#section-features h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #35373a; }

#section-features a {
  display: block;
  overflow: hidden;
  position: relative; }

#section-features a > img {
  transition: transform 0.15s ease 0s;
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%; }

#section-features a:hover > img {
  transform: scale3d(1.05, 1.05, 1.05); }

#section-features .card-poster > i {
  opacity: 0; }

#section-features a:hover .card-poster > i {
  opacity: 1; }

#section-features a .card-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.15s ease 0s; }

#section-features a .card-poster > i {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  font-size: 30px;
  color: white;
  transition: opacity 0.3s ease 0s; }

#section-features a:hover .card-poster {
  background-color: rgba(0, 0, 0, 0.5); }

#section-contact {
  background-color: #21252b;
  width: 100%;
  background-image: url("../images/contact-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  #section-contact .input-group .fa {
    min-width: 20px; }
  #section-contact .alert-box {
    display: none;
    width: 30%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 103; }
    #section-contact .alert-box span {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 20px;
      color: white;
      transform: translate(-50%, -50%); }

#main-footer {
  background-color: #21252b; }
  #main-footer .coopyright-text {
    margin-bottom: 0 !important;
    font-size: 0.9rem; }
